<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%
  var alternate = null
  if ((is_home() || (is_category() && !is_category('Translation')) || is_archive()) && page.current === 1) {
    if (config.language === 'en') {
      alternate = {
        en: page.current_url,
        zh: 'zh/' + page.current_url,
      }
    } else {
      alternate = {
        en: '../' + page.current_url,
        zh: page.current_url,
      }
    }
  } else if (page.alt_zh) {
    alternate = {
      en: page.path,
      zh: 'zh/' + page.alt_zh,
    }
  } else if (page.alt_en) {
    alternate = {
      en: '../' + page.alt_en,
      zh: page.path,
    }
  }
  %>

  <% if (alternate !== null) { %>
  <link rel="alternate" hreflang="en" href="<%- full_url_for(alternate.en) %>">
  <link rel="alternate" hreflang="zh" href="<%- full_url_for(alternate.zh) %>">
  <link rel="alternate" hreflang="x-default" href="<%- full_url_for(alternate.en) %>">
  <% } %>

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <%- css('css/source-code-pro') %>
  <% } %>
  <%- css('css/style') %>
  <%- partial('google-analytics') %>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0946CQJE28"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0946CQJE28');
  </script>
</head>
